.block#block-login
  %h2 Login
  .content.login
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message
    = form_tag sessions_path, :class => "form login" do
      .group.wat-cf
        .left= label_tag :username, nil, :class => "label right"
        .right= text_field_tag :username, nil, :class => "text_field"
      .group.wat-cf
        .left= label_tag :password, nil, :class => "label right"
        .right= password_field_tag :password, nil, :class => "text_field"
      .group.wat-cf
        .right
          %button.button{ :type => "submit" }
            Login