.block#block-signup
  %h2 Registration
  .content
    .flash
      - flash.each do |type, message|
        %div{:class => "message #{type}"}
          %p= message
      - if @user.errors.any?
        %div{:class => "message alert"}
          %ul
            - for message in @user.errors.full_messages
              %li= message
    = form_for @user, :html => {:class => "form"} do |f|
      .group
        = f.label :username, :class => "label"
        = f.text_field :username, :class => "text_field"
      .group
        = f.label :first_name, :class => "label"
        = f.text_field :first_name, :class => "text_field"
      .group
        = f.label :last_name, :class => "label"
        = f.text_field :last_name, :class => "text_field"
      .group
        = f.label :password, :class => "label"
        = f.password_field :password, :class => "text_field"
      .group
        = f.label :password_confirmation, :class => "label"
        = f.password_field :password_confirmation, :class => "text_field"
      .group.navform.wat-cf
        %button.button{:type => "submit"}
          Register