.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to "List", project_goals_path(@project)
      %li
        = link_to "New", new_project_goal_path(@project)
  .content          
    %h2.title
      = "All Goals for project " + @project.name
    .inner
      %table.table
        %tr            
          %th.first ID
          %th Name
          %th Created at
          %th Status
          %th Estimated time
          %th Real time
          %th &nbsp
          %th.last &nbsp
        - @goals.each do |goal|
          %tr{:class => cycle("odd", "even")}
            %td= goal.id
            %td= link_to goal.name, [@project, goal]
            %td= goal.created_at
            %td= goal.accomplished ? 'Accomplished' : 'Not accomplished'
            %td= goal.estimated_time
            %td= goal.real_time
            %td start a pomodoro
            %td.last
              = link_to "show", [@project, goal]
              |
              = link_to "edit", edit_project_goal_path(@project, goal)
              |
              = link_to "delete", [@project, goal], :method => :delete, :confirm => "Are you sure?"
      .actions-bar.wat-cf
        .actions
        
- content_for :sidebar, render(:partial => 'sidebar')